In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv(r'D:\projects\demo\resources\heart_disease.csv')
data.head()

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
0,56.0,Male,153.0,155.0,High,Yes,Yes,No,24.991591,Yes,...,No,High,Medium,7.633228,Medium,342.0,NaN,12.969246,12.387250,No
1,69.0,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,...,No,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,No
2,46.0,Male,126.0,216.0,Low,No,No,No,29.855447,No,...,Yes,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,...,Yes,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,...,No,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,No

In [3]:
data.isna().sum()

Age                       29
Gender                    19
Blood Pressure            19
Cholesterol Level         30
Exercise Habits           25
Smoking                   25
Family Heart Disease      21
Diabetes                  30
BMI                       22
High Blood Pressure       26
Low HDL Cholesterol       25
High LDL Cholesterol      26
Alcohol Consumption     2586
Stress Level              22
Sleep Hours               25
Sugar Consumption         30
Triglyceride Level        26
Fasting Blood Sugar       22
CRP Level                 26
Homocysteine Level        20
Heart Disease Status       0
dtype: int64

In [4]:
data.duplicated().sum()

0

In [5]:
num_cols = data.select_dtypes(include=['number']).columns
cat_cols = data.select_dtypes(exclude=['number']).columns

data[num_cols] = data[num_cols].fillna(data[num_cols].mean())
for col in cat_cols:
    data[col] = data[col].fillna(data[col].mode()[0])

In [6]:
data.isna().sum()

Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Exercise Habits         0
Smoking                 0
Family Heart Disease    0
Diabetes                0
BMI                     0
High Blood Pressure     0
Low HDL Cholesterol     0
High LDL Cholesterol    0
Alcohol Consumption     0
Stress Level            0
Sleep Hours             0
Sugar Consumption       0
Triglyceride Level      0
Fasting Blood Sugar     0
CRP Level               0
Homocysteine Level      0
Heart Disease Status    0
dtype: int64

In [7]:
data.describe(include='O')

,Gender,Exercise Habits,Smoking,Family Heart Disease,Diabetes,High Blood Pressure,Low HDL Cholesterol,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sugar Consumption,Heart Disease Status
count,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
unique,2,3,2,2,2,2,2,2,3,3,3,2
top,Male,High,Yes,No,No,Yes,Yes,No,Medium,Medium,Low,No
freq,5022,3397,5148,5025,5048,5048,5025,5062,5086,3409,3420,8000

In [8]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import pandas as pd

target_col = "Heart Disease Status"

label_encoder = LabelEncoder()
data[target_col] = label_encoder.fit_transform(data[target_col])

cat_cols = data.select_dtypes(include="object").columns

encoder = OneHotEncoder(drop='first', sparse_output=False)

encoded_data = encoder.fit_transform(data[cat_cols])

encoded_df = pd.DataFrame(
    encoded_data,
    columns=encoder.get_feature_names_out(cat_cols),
    index=data.index
)

data2 = pd.concat(
    [
        data.drop(columns=cat_cols),
        encoded_df
    ],
    axis=1
)

In [9]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         10000 non-null  float64
 1   Blood Pressure              10000 non-null  float64
 2   Cholesterol Level           10000 non-null  float64
 3   BMI                         10000 non-null  float64
 4   Sleep Hours                 10000 non-null  float64
 5   Triglyceride Level          10000 non-null  float64
 6   Fasting Blood Sugar         10000 non-null  float64
 7   CRP Level                   10000 non-null  float64
 8   Homocysteine Level          10000 non-null  float64
 9   Heart Disease Status        10000 non-null  int32
 10  Gender_Male                 10000 non-null  float64
 11  Exercise Habits_Low         10000 non-null  float64
 12  Exercise Habits_Medium      10000 non-null  float64
 13  Smoking_Yes                 10000 non-null  float64
 14  Family Heart Disease_Yes    10000 non-null  float64
 15  Diabetes_Yes                10000 non-null  float64
 16  High Blood Pressure_Yes     10000 non-null  float64
 17  Low HDL Cholesterol_Yes     10000 non-null  float64
 18  High LDL Cholesterol_Yes    10000 non-null  float64
 19  Alcohol Consumption_Low     10000 non-null  float64
 20  Alcohol Consumption_Medium  10000 non-null  float64
 21  Stress Level_Low            10000 non-null  float64
 22  Stress Level_Medium         10000 non-null  float64
 23  Sugar Consumption_Low       10000 non-null  float64
 24  Sugar Consumption_Medium    10000 non-null  float64
dtypes: float64(24), int32(1)
memory usage: 1.9 MB

In [10]:
from sklearn.preprocessing import StandardScaler

target_col = "Heart Disease Status"

scaler = StandardScaler()

feature_cols = data2.columns.drop(target_col)

data2[feature_cols] = scaler.fit_transform(data2[feature_cols])

In [11]:
data2.describe()

,Age,Blood Pressure,Cholesterol Level,BMI,Sleep Hours,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status,...,Diabetes_Yes,High Blood Pressure_Yes,Low HDL Cholesterol_Yes,High LDL Cholesterol_Yes,Alcohol Consumption_Low,Alcohol Consumption_Medium,Stress Level_Low,Stress Level_Medium,Sugar Consumption_Low,Sugar Consumption_Medium
count,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,10000.00000,...,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04
mean,2.948752e-16,-3.808509e-16,-2.977174e-16,-4.675371e-16,8.881784e-17,-3.000267e-16,6.004086e-17,-1.676881e-16,-1.570299e-16,0.20000,...,2.877698e-17,-7.744916e-17,1.051603e-16,4.796163e-17,4.742873e-17,-8.384404e-17,-3.268497e-17,1.989520e-17,-8.446577e-17,2.629008e-17
std,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,0.40002,...,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00
min,-1.722731e+00,-1.695077e+00,-1.733594e+00,-1.757891e+00,-1.708092e+00,-1.733584e+00,-1.704055e+00,-1.723095e+00,-1.726380e+00,0.00000,...,-9.904456e-01,-1.009647e+00,-1.005013e+00,-9.876759e-01,-5.755027e-01,-1.017350e+00,-7.049865e-01,-7.191804e-01,-7.209416e-01,-6.938887e-01
25%,-8.419963e-01,-8.976014e-01,-8.831798e-01,-8.584950e-01,-8.772794e-01,-8.595141e-01,-8.974965e-01,-8.744956e-01,-8.628386e-01,0.00000,...,-9.904456e-01,-1.009647e+00,-1.005013e+00,-9.876759e-01,-5.755027e-01,-1.017350e+00,-7.049865e-01,-7.191804e-01,-7.209416e-01,-6.938887e-01
50%,-1.630785e-02,1.379977e-02,0.000000e+00,-1.127874e-15,2.676895e-03,-3.268757e-16,-6.037001e-03,0.000000e+00,-8.103249e-03,0.00000,...,-9.904456e-01,9.904456e-01,9.950124e-01,-9.876759e-01,-5.755027e-01,9.829454e-01,-7.049865e-01,-7.191804e-01,-7.209416e-01,-6.938887e-01
75%,8.644265e-01,8.682383e-01,8.636168e-01,8.622027e-01,8.776034e-01,8.656231e-01,8.854225e-01,8.704070e-01,8.508442e-01,0.00000,...,1.009647e+00,9.904456e-01,9.950124e-01,1.012478e+00,-5.755027e-01,9.829454e-01,1.418467e+00,1.390472e+00,1.387075e+00,1.441153e+00
max,1.690115e+00,1.722677e+00,1.714031e+00,1.733327e+00,1.718315e+00,1.716691e+00,1.691981e+00,1.736091e+00,1.746462e+00,1.00000,...,1.009647e+00,9.904456e-01,9.950124e-01,1.012478e+00,1.737611e+00,9.829454e-01,1.418467e+00,1.390472e+00,1.387075e+00,1.441153e+00

In [12]:
class_counts = data2[target_col].value_counts()
print(f"Original class distribution:\n{class_counts}\n")
    
minority_class = class_counts.idxmin()
majority_class = class_counts.idxmax()
minority_count = class_counts.min()
    
print(f"Minority class: {minority_class} ({minority_count} samples)")
print(f"Majority class: {majority_class} ({class_counts.max()} samples)")
print(f"\nUndersampling majority class to {minority_count} samples...\n")
    
df_minority = data2[data2[target_col] == minority_class]
df_majority = data2[data2[target_col] == majority_class]
    
df_majority_undersampled = df_majority.sample(n=minority_count, random_state=42)
    
df_balanced = pd.concat([df_minority, df_majority_undersampled])
    
df_balanced = df_balanced.sample(frac=1, random_state=42).reset_index(drop=True)
    
final_counts = df_balanced[target_col].value_counts()
print(f"Final class distribution:\n{final_counts}")

Original class distribution:
Heart Disease Status
0    8000
1    2000
Name: count, dtype: int64

Minority class: 1 (2000 samples)
Majority class: 0 (8000 samples)

Undersampling majority class to 2000 samples...

Final class distribution:
Heart Disease Status
1    2000
0    2000
Name: count, dtype: int64

In [13]:
df_balanced.to_csv("processed_data.csv", index=False)